<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="sv" type="MeetWhen.vo.transport.SubwayVO"/>
		<typeAlias alias="siv" type="MeetWhen.vo.transport.SubwayinfoVO"/>
		<typeAlias alias="av" type="MeetWhen.vo.transport.AdressVO"/>
		
		<typeAlias alias="cv" type="MeetWhen.vo.airport.ContryVO"/>
		<typeAlias alias="rv" type="MeetWhen.vo.airport.RegionVO"/>
		<typeAlias alias="lcv" type="MeetWhen.vo.airport.LContryVO"/>
		<typeAlias alias="lrv" type="MeetWhen.vo.airport.LRegionVO"/>
		<typeAlias alias="cwa1" type="MeetWhen.vo.airport.CrawlA1VO"/>
		<typeAlias alias="cwa2" type="MeetWhen.vo.airport.CrawlA2VO"/>
		<typeAlias alias="cwb" type="MeetWhen.vo.airport.CrawlBVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="/hwanSQL/subwaySQL.xml" />
		<mapper resource="/sql/airportSQL.xml" />
		<mapper resource="/sql/latlonSQL.xml" />
		<mapper resource="/sql/crawlSQL.xml" />
	</mappers>
</configuration>
