<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="sv" type="MeetWhen.vo.SubwayVO"/>
		<typeAlias alias="siv" type="MeetWhen.vo.SubwayinfoVO"/>
		<typeAlias alias="av" type="MeetWhen.vo.AdressVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="/hwanSQL/subwaySQL.xml" />
	</mappers>
</configuration>
